<section id="cta" class="white-section">

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6">
        <img class="phone-image" src="/images/phone.png" alt="phone">
      </div>
      <div class="col-lg-6">
        <h3 id="app1" class="big-heading">GET THE goEatery APP</h3>
        <h5 id="app2" class="big-heading">WE FIND BEST FOR YOU</h5>
        <button class="download-button btn-lg btn btn-outline-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
      </div>
    </div>


  </div>
</section>
