<footer class="black-section center" id="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f fa-lg"></i>
    <i class="social-icon fab fa-instagram fa-lg"></i>
    <i class="social-icon fas fa-envelope fa-lg"></i>
    <p>© Copyright 2020 goEatery</p>
  </div>
</footer>


</body>

</html>
