<%- include("partials/header") -%>
    <div class="jumbotron">
  <h1 class="display-4">Uh oh!</h1>
  <p class="lead">There was a problem signing you up. Please try again or contact the developer.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup.html" role="button">Sign Up</a>
  </p>
</div>
  </body>
</html>
